openai~=1.77
dotenv~=0.9
requests~=2.32.3
ollama~=0.4.8
python-dotenv~=1.1.0
rich~=13.9.4
selenium~=4.32.0
redlines~=0.5.1
panel~=1.6.3
redis~=6.0.0
sqlalchemy~=2.0.40
uvicorn~=0.34.2
fastapi~=0.115.12
langchain~=0.3.25
langchain-community~=0.3.24
pandas~=2.2.3
langchain-core~=0.3.60
tenacity~=8.5.0